<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Paint2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Prosto+One|Noto+Sans|Open+Sans|Merriweather+Sans|Mukta" rel="stylesheet">