<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

        <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    </head>
    <body>
        <nav class="nav">
            <span class="nav-option">
                <p class="nav-option-text">Option</p>
            </span>
            <span class="nav-option">
                <p class="nav-option-text">Option</p>
            </span>
            <span class="nav-option">
                <p class="nav-option-text">Option</p>
            </span>
        </nav>
        <div class="canvas-container">
            <canvas class="canvas">

            </canvas>
        </div>
        
        <div class="menu">
            <span class="menu-option" id="pencil" title="Pencil">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option" id="shape" title="Shapes">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
            <span class="menu-option">
                <img class="menu-option-icon" src="img/menu-pencil.png">
            </span>
        </div>
    </body>

    <script src="js/index.js"></script>

</html>

<!-- 
    Menu Options:
    - pencil tool (expand)
    - eraser (expand)
    - fill tool
    - shape tool (expand) - line, rectangle, circle
    - color tool (expand)
    - other (expand)
    - save (expand)


 -->
